############################
# npm
############################
node_modules
npm-debug.log


############################
# tmp, editor & OS files
############################
.tmp
*.swo
*.swp
*.swn
*.swm
.DS_STORE
.icon
*#
*~
.idea
nbproject


############################
# Tests
############################
coverage


############################
# Other
############################
.node_history
